// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer-section{
  background-color: #F7F7F7;
  height: 80px;

  border-top: 1px solid #dee2e6;

  .text-area{
      display: flex;
      justify-content: center;
      align-items: center;

      height: 100%;

  }

}
