// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  height: 100px;

  margin-top: 10px;

  // Logo:
  .logo-container{

      width: 120px;
      // border: 1px dashed black;

      img{
          width: 100%;
          cursor: pointer;
      }
  }

  // Menu:
  .menu-section{

      display: flex;
      justify-content: center;

      padding: 5px;
      border-radius: 30px;

      width: 80px;
      border: 1px solid #dee2e6;

      background-color: white;

      cursor: pointer;

      &:hover{
          box-shadow: 0px 1px 1px 1px #dee2e6;
      }

      .hamburger-menu{
          display: flex;
          align-items: center;

          height: 30px;
          margin-right: 10px;

      }

      .user-profile-pic{
          width: 30px;
          height: 30px;
      }
  }

  //Link Modal:
  .nav-link-menu{
      position: absolute;
      right: 0px;
      top: 100px;

      width: 200px;



      box-shadow: 1px 1px 12px -5px #5b5a5a;
      z-index: 999;

      nav {
          background-color: #FFFFFF;
          border-radius: 10px;
          border: 1px solid #DEE2E6;

          ul {
            padding: 20px 20px;
            text-align: center;
            margin: 0px;

            li {
              list-style: none;

            }

          }

      }

  }

}
